<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% assign meta_title = page.title | default: site.title | escape %}
  {% assign meta_url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
  {% assign meta_image = page.ogp | default: "/assets/images/ogp-min.png" | prepend: site.url %}
  {% assign og_type = "website" %}
  {% if page.layout == "post" %}
    {% assign og_type = "article" %}
  {% endif %}
  {% if page.description %}
    {% assign meta_description = page.description | strip_html | strip_newlines | truncate: 160 | escape %}
  {% elsif page.excerpt %}
    {% assign meta_description = page.excerpt | strip_html | strip_newlines | truncate: 160 | escape %}
  {% else %}
    {% assign meta_description = site.description | strip_html | strip_newlines | truncate: 160 | escape %}
  {% endif %}

  <title>{{ meta_title }}</title>
  <meta name="description" content="{{ meta_description }}">

  <meta name=twitter:card content=summary_large_image>
  <meta name=twitter:site content="@iwashi86">
  <meta name=twitter:url content="{{ meta_url }}">
  <meta name=twitter:title content="{{ meta_title }}">
  <meta name=twitter:description content="{{ meta_description }}">
  <meta name=twitter:image content="{{ meta_image }}">

  <meta property=og:type content="{{ og_type }}">
  <meta property=og:url content="{{ meta_url }}">
  <meta property=og:title content="{{ meta_title }}">
  <meta property=og:site_name content="iwashi.co">
  <meta property=og:description content="{{ meta_description }}">
  <meta property="og:image" content="{{ meta_image }}" />

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ meta_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
