@import "variables";

/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 15px;
        background-color: $background-color;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: calc($spacing-unit / 2);
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: calc(-1 * $spacing-unit / 2);
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: calc($spacing-unit / 2);
    padding-left: calc($spacing-unit / 2);
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

@media screen and (min-width: 1101px) {
    .wrapper-wide-archive {
        max-width: calc(1120px - (#{$spacing-unit} * 2));
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: calc($spacing-unit * 0.5);
    }
    
    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    .footnotes {
        font-size: 0.9em;
        line-height: 1.35;
    }

    .footnotes ol,
    .footnotes li,
    .footnotes p {
        margin-bottom: calc($spacing-unit * 0.2);
    }

    .footnotes li > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Tag page
 */
.tag-page {
    .tag-cloud {
        margin-left: 0;
        list-style: none;
    }

    .tag-cloud > li {
        display: inline-block;
        margin: 0 8px 8px 0;
    }

    .tag-link,
    .tag-chip {
        display: inline-block;
        padding: 4px 10px;
        border: 1px solid $grey-color-light;
        border-radius: 999px;
    }

    .tag-section {
        margin-bottom: $spacing-unit;
        scroll-margin-top: 70px;
    }
}

.archive-page {
    .archive-layout {
        display: grid;
        grid-template-columns: minmax(0, 1fr) 200px;
        gap: $spacing-unit;
    }

    .archive-main {
        min-width: 0;
    }

    .archive-sidebar {
        position: sticky;
        top: calc($spacing-unit / 2);
    }

    .archive-sidebar h2 {
        margin-top: 0;
    }

    .archive-sidebar .tag-cloud > li {
        display: block;
        margin: 0 0 8px 0;
    }

    .archive-sidebar .tag-link {
        font-size: $small-font-size;
    }

    @media screen and (max-width: 1100px) {
        .archive-layout {
            display: block;
        }

        .archive-sidebar {
            width: auto;
            position: static;
            margin-top: $spacing-unit;
        }

        .archive-sidebar .tag-cloud > li {
            display: inline-block;
            margin: 0 8px 8px 0;
        }
    }
}

.tag-count {
    color: $grey-color;
    font-size: $small-font-size;
}
